<form class="new-process">
  <h1>Create a new process</h1>

  <div class="form-group">
    <label>Process name</label>
    {{input autofocus type="text" class="form-control" placeholder="foo-bar" value=name}}
  </div>

  <div class="form-group">
    <label>Command</label>
    {{input type="text" class="form-control" placeholder="cd ~/foo && ./bar" value=command}}

    <div class="tip">
      Tips: Processes should run in the foreground and not daemonize. If the process exits for any reason it will be restarted. It will have access to your regular shell environment.
    </div>
  </div>


  <button {{action "createProcess" name command}} class="btn btn-large btn-primary">Create Process</button>
</form>
