.nav-group-title {
  padding-top: 30px;
  -webkit-app-region: drag;
}

.process-list {
  display: flex;
  flex-direction: column;
}

.process-list .dead {
  color: hsl(3, 73%, 49%);
}

.process-list .stopped {
  color: hsl(220, 0%, 27%);
}

.process-list .alive {
  color: hsl(152, 80%, 40%);
}

.nav-group {
  flex: 1;
  overflow-y: overlay;
  overflow-x: hidden;
}

.nav-group-item {
  display: flex;
  padding: 3px 0 3px 8px;
  height: 28px;
}

.nav-group-item:focus {
  background-color: hsl(200, 70%, 80%);
  outline: none;
}

.nav-group-item.active {
  background-color: #dcdfe1;
}

.nav-group-item .name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-group-item .actions {
  flex: 0 0 60px;
}

.nav-group-item .actions span {
  cursor: pointer;
}

.nav-group-item .actions button:active {
  color: #fff !important;
}

.nav-group-item .actions button:focus {
  color: hsl(200, 80%, 60%);
  outline: none;
}

.meta-actions {
  display: flex;
  padding: 3px 0;
  border-top: 1px solid #ddd;
}

.meta-actions button {
  flex: 1;
  margin: 0 2px;
}

.log-tail-container {
  flex: 1;
  position: relative;
  padding-left: 10px;
  display: flex;
  overflow: hidden;
}

.log-tail {
  flex: 1;
  display: flex;
}

.log-tail-container,
footer input {
  font-family: "Consolas", "Menlo", "Monaco", monospace;
  background-color: rgb(40, 31, 44);
  color: #fff;
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
}

.log-tail hr {
  border: 0;
  border-top: 4px solid rgb(90, 81, 94);
  margin-left: -10px;
  margin-right: -10px;
}

.pane {
  display: flex;
  flex-direction: column;
}

header {
  height: 50px;
  display: flex;
  flex-direction: row;
}

header h1 {
  margin: -5px 10px;
  overflow: hidden;
  -webkit-app-region: drag;
  flex: 1;
}

header .actions .action {
  padding: 0 15px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-top: 1.8em;
}

header .actions .action .active {
  color: hsl(152, 80%, 40%);
}

footer {
  color: #fff;
  height: 31px;
}

footer label,
footer input {
  border-width: 1px 0 0 0;
  display: block;
  width: 100%;
}

footer label {
  margin-bottom: 0;
}

footer span {
  position: absolute;
  left: 5px;
  line-height: 30px;
}

footer input {
  padding: 5px 0 5px 30px;
}

footer input::before {
  display: block;
  content: ">> ";
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(50, 41, 54);
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-app-region: drag;
}

.logo-container .logo {
  text-transform: uppercase;
  text-align: center;
  color: rgb(130, 121, 134);
  font-size: 5vw;
  flex: 1;
  font-weight: bold;
  font-family: "Source Sans Pro", monospace;
}

.logo-container .logo img {
  display: block;
  margin: auto;
  opacity: 0.3;
  width: 60%;
}

.new-process {
  padding: 20px 40px;
}

.tip {
  font-size: 0.8;
  font-style: italic;
  margin-top: 0.3em;
}

form label {
  font-weight: bold;
}

form .form-group {
  margin-bottom: 1em;
}

form .btn-primary {
  margin-top: 2em;
}

.blank-button {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}

.terminal {
  width: 100%;
  flex: 1;
}

.xterm-viewport::-webkit-scrollbar {
  background-color: #444444;
  width: 12px;
  padding: 2px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 20px;
  border: 2px solid #444444;
}
