.nav-group-title {
  padding-top: 30px;
  -webkit-app-region: drag;
}

.process-list {
  display: flex;
  flex-direction: column;
}

.process-list .dead {
  color: hsl(3, 73%, 49%);
}

.process-list .stopped {
  color: hsl(220, 0%, 27%);
}

.process-list .alive {
  color: hsl(152, 80%, 40%)
}

.nav-group {
  flex: 1;
  overflow-y: overlay;
  overflow-x: hidden;
}

.nav-group-item {
  display: flex;
  padding: 3px 0 3px 8px;
  height: 28px;
}

.nav-group-item .name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-group-item .actions {
  flex: 0 0 60px;
}

.nav-group-item .actions span {
  cursor: pointer;
}

.nav-group-item .actions span:active {
  color: #FFF !important;
}

.meta-actions {
  display: flex;
  padding: 3px 0;
  border-top: 1px solid #ddd;
}

.meta-actions button {
  flex: 1;
  margin: 0 2px;
}

.log-tail {
  flex: 1;
  overflow: auto;

  word-break: break-all;
  white-space: pre-wrap;
  padding: 10px;
}

.log-tail, footer input {
  font-family: "Consolas", "Menlo", "Monaco", monospace;
  background-color: rgb(40,31,44);
  color: #fff;
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
}

.log-tail hr {
  border: 0;
  border-top: 4px solid rgb(90,81,94);
  margin-left: -10px;
  margin-right: -10px;
}

.ansi-black-fg {
  color: #3A3A3A;
}

.ansi-red-fg {
  color: #DD948E;
}

.ansi-green-fg {
  color: #B6D1AA;
}

.ansi-yellow-fg {
  color: #F3D57C;
}

.ansi-blue-fg {
  color: #8AA9D5;
}

.ansi-magenta-fg {
  color: #CBAFD5;
}

.ansi-cyan-fg {
  color: #9AD1D4;
}

.ansi-white-fg {
  color: #EFEFEF;
}

.ansi-bright-black-fg {
  color: #5E5D5E;
}

.ansi-bright-red-fg {
  color: #E69B94;
}

.ansi-bright-green-fg {
  color: #D1F0C3;
}

.ansi-bright-yellow-fg {
  color: #F4D799;
}

.ansi-bright-blue-fg {
  color: #A6CBFE;
}

.ansi-bright-magenta-fg {
  color: #E7C7F2;
}

.ansi-bright-cyan-fg {
  color: #B0F0F5;
}

.ansi-bright-white-fg {
  color: #FFF;
}

.ansi-black-bg {
  background-color: #3A3A3A;
}

.ansi-red-bg {
  background-color: #DD948E;
}

.ansi-green-bg {
  background-color: #B6D1AA;
}

.ansi-yellow-bg {
  background-color: #F3D57C;
}

.ansi-blue-bg {
  background-color: #8AA9D5;
}

.ansi-magenta-bg {
  background-color: #CBAFD5;
}

.ansi-cyan-bg {
  background-color: #9AD1D4;
}

.ansi-white-bg {
  background-color: #EFEFEF;
}

.ansi-bright-black-bg {
  background-color: #5E5D5E;
}

.ansi-bright-red-bg {
  background-color: #E69B94;
}

.ansi-bright-green-bg {
  background-color: #D1F0C3;
}

.ansi-bright-yellow-bg {
  background-color: #F4D799;
}

.ansi-bright-blue-bg {
  background-color: #A6CBFE;
}

.ansi-bright-magenta-bg {
  background-color: #E7C7F2;
}

.ansi-bright-cyan-bg {
  background-color: #B0F0F5;
}

.ansi-bright-white-bg {
  background-color: #FFF;
}

.pane {
  display: flex;
  flex-direction: column;
}

header {
  height: 50px;
  display: flex;
  flex-direction: row;
}

header h1 {
  margin: -5px 10px;
  overflow: hidden;
  -webkit-app-region: drag;
  font-family: "Source Sans Pro", monospace;
  flex: 1;
}

header .actions .action {
  padding: 0 15px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-top: 1.8em;
}

header .actions .action .active {
  color: hsl(152, 80%, 40%);
}

footer {
  color: #fff;
  height: 31px;
}

footer label,
footer input {
  border-width: 1px 0 0 0;
  display: block;
  width: 100%;
}

footer label {
  margin-bottom: 0;
}

footer span {
  position: absolute;
  left: 5px;
  line-height: 30px;
}

footer input {
  padding: 5px 0 5px 30px;
}

footer input::before {
  display: block;
  content: ">> ";
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(50,41,54);
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-app-region: drag;
}

.logo-container .logo {
  text-transform: uppercase;
  text-align: center;
  color: rgb(130,121,134);
  font-size: 5vw;
  flex: 1;
  font-weight: bold;
  font-family: "Source Sans Pro", monospace;
}

.logo-container .logo img {
  display: block;
  margin: auto;
  opacity: 0.3;
  width: 60%;
}

.new-process {
  padding: 20px 40px;
}

.tip {
  font-size: 0.8;
  font-style: italic;
  margin-top: 0.3em;
}

form label {
  font-weight: bold;
}

form .form-group {
  margin-bottom: 1em;
}

form .btn-primary {
  margin-top: 2em;
}
