<form class="new-process" {{on "submit" this.create}}>
  <h1>Create a new process</h1>

  <div class="form-group">
    <label>Process name</label>
    <Input @autofocus={true} type="text" class="form-control" placeholder="foo-bar" @value={{this.name}} />
  </div>

  <div class="form-group">
    <label>Command</label>
    <Input @type="text" class="form-control" placeholder="cd ~/foo && ./bar" @value={{this.command}} />

    <div class="tip">
      Tips: Processes should run in the foreground and not daemonize. If the process exits for any reason it will be restarted. It will have access to your regular shell environment.
    </div>
  </div>


  <button type="submit" class="btn btn-large btn-primary">Create Process</button>
</form>
