<header>
  <h1>{{model.name}}</h1>

  <div class="actions">
    <div class="action" {{action "clear"}}>
      <span class="icon icon-erase"></span> Clear
    </div>

    <div class="action" {{action "toggleFollow"}}>
      <span class="icon icon-cd {{if follow "active"}}"></span> Follow
    </div>
  </div>
</header>

{{log-tail follow=follow data=model.data}}

<footer>
  <label>
    <span>&gt;&gt;</span>
    {{input value=model.command enter=(action "fireCommand")}}
  </label>
</footer>
